@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

// div {
//     border: 1px solid cyan;
// }

.container {
    max-width: 950px;
    margin: 0 auto;
}